<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Object Model">

	<listeners>

		<listener class-name="com.tataaig.listeners.CustomListeners" />

		<listener class-name="com.tataaig.errorcollectors.TestListenerAdapter" />
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />

	</listeners>


	<test name="Car Details Page Test">
		<classes>
			<class name="com.tataaig.testcases.CarDetailsPageTest" />
		</classes>
	</test> <!-- Test -->

	<!-- <test name="Flight Search Test">
		<classes>
			<class name="com.w2a.testcases.FlightSearchTest" />
		</classes>
	</test> Test -->


</suite> <!-- Suite -->
